:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.container-center {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}


.container {
  display: flex;
  border-style: solid;
  border-width: 2px;
  border-color: #00000000;
  transition: border-color 0.2s;
  align-items: center;
  justify-content: center;
  background-color: #3b3b3b;
  border-radius: 50px;
  box-shadow: 0px 20px 60px #10000000;
  width: auto;
  height: 30px;
  padding: 20px;
}

.container.warn {
  border-color: rgb(185, 79, 79);;
}

.container > * {
  font-family: Torus Pro;
}

.loader-container {
  display: flex;
  position: absolute;
  opacity: 0;
}
.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: Torus Pro;
}

.logo-container.off {
  display: none;
}

.text {
  background: none;
  display: flex;
  font-weight:  600;
  color: #d5d5d5;
  font-size: 25px;
  text-align: center;
  border: none;
  z-index: 1;
}

.text::placeholder {
  color: #676767;
  font-weight:  100;
}

.text:focus {
    outline:none;
    box-shadow: '0px 10px 20px rgba(0, 0, 0, 0.43)',
}

.osulogo {
  width: 90px;
  height: 90px;
  
}

.logo-text {
  
  height: 0;
  overflow: hidden;
  font-size: 20px;
}

.comingsoon {
  color: #676767;
  font-size: 24px;
  position: absolute;
  bottom: 200px;
  opacity: 0;
}
.text-warning {
  opacity: 0;
  position: absolute;
  top: 75px;
  color: rgb(185, 79, 79);
}

.spinner circle {
  fill: none;
  stroke: #d5d5d5;
  stroke-width: 5px;
  stroke-dasharray: 94 125;
  stroke-linecap: round;
  
}